*{
    padding: 0px;
    margin:0px;
    text-decoration: none;
    outline: none;
    overflow-x: hidden;
    border: none;
}

.navbar{
    width:100%;
    height:100px;
    background-color: black;
    color:white;
    display: flex;
    align-items: center;
}

.pagename{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 40px;
    width:fit-content;
    color:white;
    margin:10px 30px;
}

body{
    background-color: rgb(25, 25, 25);
    display: flex;
    flex-direction: column;
}

.popup{
    position: absolute;
    z-index: 2;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

.inputform{
    font-family: "Poppins", sans-serif;
    width: 400px;
    height:fit-content;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding:20px;
}

.inputform input{
    font-family: "Poppins", sans-serif;
    border-bottom: 1px solid black;
    font-size: large;
    margin:15px;
    color:black;
}

.inputform input::placeholder{
    color:black;
}

.inputform textarea{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin:15px;
    color:black;
    resize:none;
    border-bottom: 1px solid black;
}

.inputform textarea::placeholder{
    color:black;
}

.inputform button{
    font-family: "Poppins", sans-serif;
    width:100px;
    height: 40px;
    margin:10px;
    border-radius: 25px;
    font-size: 18px;
    color:white;
    background-color:black;
    cursor:pointer;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.bookbox{
    width:100%;
    flex:1;
    min-height:0;
    color:white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.book{
    font-family: "Poppins", sans-serif;
    width:400px;
    margin:20px;
    height:fit-content;
    border-radius: 25px;
    background-color: black;
    padding:20px;
    display: flex;
    flex-direction: column;
}

.title{
    font-family: "Kaushan Script", cursive;
    margin:10px;
}

.author{
    font-family: "Poppins", sans-serif;
    margin:10px;
}

.description{
    font-family: "Poppins", sans-serif;
    margin:10px;
}

.deletebutton{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin:10px;
    align-self: center;
    width:150px;
    height:40px;
    border:none;
    border-radius: 25px;
    background-color: red;
    color:white;
    cursor:pointer;
}

.plusbutton{
    position: absolute;
    right:30px;
    bottom:30px;
    width:70px;
    height: 70px;
    cursor:pointer;
    font-family: "Poppins", sans-serif;
    font-size:40px;
    border-radius: 100%;
    color:black;
    background-color: white;
    z-index: 3;
}